<!--The content below is only a placeholder and can be replaced.-->
AppComponent
UserName: {{coreService.getUserName}} <input type="text" [(ngModel)]="coreService._userName">
<br>
Other: {{otherService.otherName}} <input type="text" [(ngModel)]="otherService.otherName">

<hr>
<!-- <app-pageone></app-pageone>
<app-pagetwo></app-pagetwo> -->

<a [routerLink]="['/one']">One</a>
<a [routerLink]="['/two']">Two</a>
<a [routerLink]="['/two/1']">Two/1</a>
<a [routerLink]="['/two/2']">Two/2</a>
<a [routerLink]="['/two/3']">Two/3</a>
<hr>
<router-outlet></router-outlet>